.html
  = render 'shared/top_bar'
  .about
    .about__text
      %h1 このサイトは我が家の家族
      %br 「がぶちゃん・めいちゃん」を
      %br 紹介するサイトです。
      %img{alt: "がぶちゃん", src: "/assets/img_5324.jpg", class: "image-tag-one", id:"image-gabu"}/
      %img{alt: "めいちゃん", src: "/assets/img_5331.jpg", class: "image-tag-one", id:"image-mei"}/
  .history
    .history__text
  .image
  .contact