.top-bar
  .top-bar__title
    cat-meet
  %ul.top-bar__nav
    %li.top-bar__nav__list
      %a{href:"#1"}about
    %li.top-bar__nav__list
      %a{href:"#2"}history
    %li.top-bar__nav__list
      %a{href:"#3"}image
    %li.top-bar__nav__list
      %a{href:"#4"}contact