.top-bar
  .top-bar__title
    cat-meet
  %ul.top-bar__nav
    %li.top-bar__nav__list
      about
    %li.top-bar__nav__list
      history
    %li.top-bar__nav__list
      image
    %li.top-bar__nav__list
      contact