.html
  = render 'shared/top_bar'
  .about{ id: "1"}
    .about__text
      %h1 このサイトは我が家の家族
      %br 「がぶちゃん・めいちゃん」を
      %br 紹介するサイトです。
      %i.fas.fa-cat.fa-spin

      -# %img{alt: "がぶちゃん", src: "/assets/img_5324.jpg", class: "image-tag-one", id:"image-gabu"}/
      -# %img{alt: "めいちゃん", src: "/assets/img_5331.jpg", class: "image-tag-one", id:"image-mei"}/
  .history{ id: "2"}
    %h1
      history
    .history__box
      .history__box__start
    .history__box
      .history__box__circle
    .history__box
      .history__box__circle
    .history__box
      .history__box__circle
    .history__text
      
  .image{ id: "3"}
    %h1
      image
    .slick
      %img(src="IMG_4739.JPG" alt="")/
      %img(src="IMG_4882.JPG" alt="")/
      %img(src="IMG_4967.JPG" alt="")/
      %img(src="IMG_5143.JPG" alt="")/
      %img(src="IMG_5178.JPG" alt="")/
      %img(src="IMG_5283.JPG" alt="")/
      %img(src="IMG_5311.JPG" alt="")/
      %img(src="IMG_5324.JPG" alt="")/
      %img(src="IMG_5325.JPG" alt="")/
      %img(src="IMG_5327.JPG" alt="")/
      %img(src="IMG_5330.JPG" alt="")/
      %img(src="IMG_5331.JPG" alt="")/
  .contact{ id:"4"}
    .contact_text
      = fa_icon 'envelope', class: 'icon'
  = render "new"

  .your-class
  %div your content 1
  %div your content 2
  %div your content 3
