.html{
  .about{
    height: 450px;
    padding: 50px 0;
    background-image: url(IMG_5311.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    overflow: hidden;
    color: white;
    &__text{
      font-size: 29px;
      text-align: center;
      position: relative;
      font-family: 'Sawarabi Mincho', sans-serif;
      top: 127px;
    }
  }
  .about:before{
    content: '';
    background: inherit;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
  }
  .history{
    height: 800px;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,117,253,1) 100%);

    h1{
      font-size: 30px;
      height: 30px;
      text-align: center;
      color: white;
    }
    &__box{
      position: relative;
      height: 190px;
      width: 45px;
      &__start{
        top: 45px;
        left: 80px;
        width: 45px;
        height: 45px;
        background-color:whitesmoke;
        border-radius: 50%;
        position: absolute;
      }
      &__text{
        position: absolute;
        height: 139px;
        width: 700px;
        background-color: gray;
        left: 300px;
        top: 28px;
        border-radius: 10px;
        padding-top: 5px;
        p{
          color: white;
          font-size: 30px;
        }
      }
      &__img{
        position: absolute;
        
      }
      &__start::after{
        content: '';
        display: inline-block;
        background-color:whitesmoke;
        height: 600px;
        width: 10px;
        top: 50%;
        left: 38%;
        position: absolute;
      }
      &__circle{
        top: 72px;
        left: 80px;
        width: 45px;
        height: 45px;
        background-color:whitesmoke;
        border-radius: 50%;
        position: absolute;
      }
      
    }
    &__text{
      height: 800px;
      width: 70%;
    }
  }
  .image{
    height: 700px;
    width: 100%;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,117,253,1) 100%);
    position: relative;
    h1{
      font-size: 30px;
      height: 30px;
      text-align: center;
      color: white;
      padding-bottom: 40px;
    }
    .multiple {
      padding: 0;
    
      img {
        max-width: 100%;
        height: auto;
      }
    
      div {
        margin: 0 5px;
      }
    
      .slick-next {
        right: 17px;
        z-index: 100;
      }
    
      .slick-prev {
        left: 23px;
        z-index: 100;
      }
      .slick-dots{
        top: -34px;
      }
    }
    
  }
  .contact{
    height: 450px;
    width: 100%;
    background: linear-gradient(#05FBFF, #1D62F0 ) fixed;
    position: relative;
    padding: 20px;
    &__box{
      position: absolute;
      top: 70px;
      left: 140px;
      right: 0;
      bottom: 0;
      margin: auto;
      text-align: center;
      .form-control1{
        width:300px;
        height:30px;
      }
      .form-control2{
        width:300px;
        height:30px;
        padding: 20px;
      }
      .form-control3{
        width:400px;
        height:100px;
      }
      .btn{
        color: blanchedalmond;
      }

    }
    .icon{
      font-size: 40px;
    }
  }
}