.html{
  .about{
    height: 300px;
    padding-top: 100px;
    &__text{
      font-size: 40px;
      text-align: center;
      image{
        height: 450px;
        width: 300px;
      }
    }
  }
  .history{
    &__text{

    }
  }
  .image{

  }
  .contact{

  }
}